.perspective-main-center {
//	border-left: 0;
//	border-top: 0;
//	padding: 10px 10px 10px 10px;
//	background-color: white;

//	color: $base-color;
//	font-size: 24px;
//	background-image: linear-gradient(0deg,#f5f5f5 1.1px, transparent 0), linear-gradient(90deg,#f5f5f5 1.1px, transparent 0);
//	background-size: 20px 20px;
//	background-color: #e8e8e8;
}
