$nav-background-color: #3A3633;
$nav-background-top-color: darken($base-color,0%);
$nav-background-bottom-color: darken($base-color,0%);
//$nav-background-color: darken($nav-background-precolor,25%);
$nav-color: white;

$header-background-color: $base-color;
$header-color: white;

$footer-background-color: $base-color;
$footer-color: white;
