.perspective-main-footer {
	border-left: 0;
	border-top: 0;
	color: $footer-color;
	background-color: $footer-background-color;
}

.perspective-main-footertext {
	font-size: 16px;
	padding: 0 0 0 15px;
}

@include button-ui(
	$ui: 'footerbutton',
	$background-color: transparent,
	$color: $footer-color,
	$border-color: transparent
);
